body {
    margin : 0;
    font-size: 12px;
    font-family: Arial;
}

.topo {
    height:30px;
    background-color: #333333;
    color:#FFFFFF;

}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin:auto;
}

.topoleft {
    width: 50%;
    height: 30px;
    float:left;

}

.topoleft ul {
    margin : 0;
    padding : 0;
    list-style: none;
}

.topoleft li {
    height:30px;
    line-height: 30px;
    float:left;
    margin-left:8px;
    margin-right: 8px;
}

.topoleft li a {
    text-decoration: none;
    color: white;

}

.topoleft li .ativo {
    color:blue;
}

.toporight {
    width: 50%;
    height:30px;
    float:left;
    text-align:right;

}

.topobusca {
    width: 110px;
    height: 20px;
    outline: 0;
}

.toporight a {
    float:right;
}

.toporight input {
    float: right;
}