body {
    margin : 0;
}

.topo {
    height:30px;
    background-color: #333333;
}

.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    background-color: green;
    margin:auto;

}